.login {
    border: #6dc0c8 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    flex-basis: 50%;
    height: 50%;
}

h1 {
    flex-basis: 50%;
    text-align: center;
    font-size: 2.5em;
}

.login-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-field {
    width: 50%;
    flex-basis: 2.5em;
    font-size: 1.5em;
}

.sign-in {
    margin: 0 0.5%;
    width: 25%;
    color: white;
    font-size: 1.5em;
    flex-basis: 20%;
    background-color: lightseagreen;
    border: none;
}

.sign-in:hover, .sign-in:active {
    background-color: seagreen;
    box-shadow: 0.25em 0.25em 0.25em darkseagreen;
}

.hidden {
    display: none;
}