<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Chat</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/chat.css">
</head>
<body>
<header class="face">
    <h1>Chat Room</h1>
</header>
<main>
    <section class="room face">
        <div class="messages-container" id="messages-container">
            <ul id="messages-list" class="messages-list">
                <li v-for="message in messages">
                    <h5>{{message.userName}} ({{message.time}})</h5>
                    <p>{{message.text}}</p>
                </li>
            </ul>
        </div>
        <div class="message-send-container">
            <textarea id="message-text-box" class="message-text-box" type="text" placeholder="Введите текст" rows="3"></textarea>
            <input id="enter-button" class="enter-button" type="button" value="Отправить">
        </div>
    </section>
    <section class="navigation ">
        @*<nav class="rooms-container face">
            <ul id="rooms-list">
                <li v-for="room in rooms"><a v-bind:href="room.url">{{room.name}}</a></li>
            </ul>
        </nav>*@
        <nav class="users-container face">
            <ul id="users-list">
                <li v-for="user in users">{{user.name}}{{user.isTempUser? ' (You)' : ''}}</li>
            </ul>
        </nav>
    </section>
</main>
<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="~/scripts/vue.js"></script>
<script type="application/javascript" src="~/scripts/jquery.signalR-2.2.3.js"></script>
<script type="application/javascript" src="~/scripts/messages.js"></script>
<script type="application/javascript" src="~/scripts/users-list.js"></script>
<script type="application/javascript" src="~/signalr/hubs"></script>
<script type="application/javascript" src="~/scripts/hub_helper.js"></script>
</body>
</html>