<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="~/Content/login.css"/>
</head>
<body>
<main>
    <h1>Test chat</h1>
    <div class="login-container">
        <input id="login-field" type="text" class="login-field" placeholder="Enter name"/>
        <input id="sign-in" class="sign-in" type="button" value="Войти" />
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="application/javascript"></script>
<script src="~/Scripts/login_helper.js"></script>
</body>
</html>